node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
firebase-service-account.json
.DS_Store
*.apk
android/

# Do not ignore compiled vector icon font files in public assets
!satory-tea/backend/public/assets/node_modules/