PORT=3000
TG_BOT_TOKEN=8596398236:AAF3pA9e1nh2HcprQKXExL_wb7-PK9gYePw
ADMIN_SECRET=satory_admin_2026
JWT_SECRET=satory_secret_2026

# IIKO API (v2 Cloud)
IIKO_API_LOGIN=
IIKO_ORGANIZATION_ID=
IIKO_EXTERNAL_MENU_ID=
IIKO_SYNC_CRON=0 0,6,12,18 * * *

# Yandex Disk Sync
YANDEX_TOKEN=
YANDEX_PRODUCTS_FOLDER_ID=
YANDEX_BONUSES_FOLDER_ID=
SYNC_CRON_PRODUCTS=0 * * * *
SYNC_CRON_BONUSES=0 * * * *

# AI Chat (xAI & Groq)
XAI_API_KEY=
GROQ_API_KEY=
